@media screen and (max-width: 768px) {
  .navbar-container .menu-items {
    display: none;
  }

  .navbar-container .navbar-toggler {
    display: block;
  }

  .navbar-container .menu-items.active {
    display: block;
    position: fixed;
    background-color: var(--white);
    top: 0;
    left: 0;
    padding: 20px;
    height: 100%;
    width: 30%;
    animation: slide 2s linear;
  }

  .navbar-container .menu-items.active .cls {
    float: right;
    color: var(--danger);
  }

  .navbar-container .menu-items.active li {
    margin-top: 10px;
  }
}
.showcase-container .min-title{
  font-size: 4rem;
  color: var(--primary);
}
/* category */
.food-container{
  flex-direction: column;
  gap: ;
}
@keyframes slide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
